html {
  box-sizing: border-box;
  background-color: #000;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
}

.photobooth {
  position: relative;
  display: flex;
  align-items: center;
}

.photo {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

.player {
  position: absolute;
  top:20px;
  right: 20px;
  width:200px;
}

.caption {
  bottom: 0;
  right: .5rem;
  font-size: .625rem;
  font-family: helvetica, arial, sans-serif;
  position: absolute;
  z-index: 10;
  color: rgba(255, 255, 255, .5);
}

/*
  Strip!
*/

.strip {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: scroll;
}
.strip img {
  width: 100px;
  margin: .5rem;
  overflow-y: scroll;
  padding: .5rem 0.5rem 1.5rem;
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  background:white;
}

.strip a:nth-child(5n+1) img { rotate: 10deg; }
.strip a:nth-child(5n+2) img { rotate: -2deg; }
.strip a:nth-child(5n+3) img { rotate: 8deg; }
.strip a:nth-child(5n+4) img { rotate: -11deg; }
.strip a:nth-child(5n+5) img { rotate: 12deg; }
